/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
    min-height: 100vh;
}


h3{
    color:brown
}
.tagline, #RegisterHyperLink, #LoginHyperLink {
    color: chocolate;
    text-decoration: none;
}

.bg-image {
    background-image: url('https://thumbs.dreamstime.com/b/south-indian-platter-idli-dosa-vada-idli-dosa-vada-banana-leaf-south-indian-breakfast-tea-time-snack-171494106.jpg');
    background-repeat: no-repeat;
}


